<% content_for :title, "Trader Stock Dashboard" %>

<h1>Trader Stocks</h1>

<table id="trader_stocks">
  <thead>
    <tr>
      <th>Stock Name</th>
      <th>Stock Ticker</th>
      <th>Stock Price</th>
    </tr>
  </thead>
  <tbody>
    <% @trader_stocks.each do |trader_stock| %>
      <tr id="<%= dom_id(trader_stock) %>">
        <td><%= trader_stock.stock.name %></td>
        <td><%= trader_stock.stock.ticker %></td>
        <td><%= number_to_currency(trader_stock.stock.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<%= link_to "Buy More Stocks", stocks_path %>
<%= button_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo: false } %>

<p style="color: green"><%= notice %></p>
