<% content_for :title, "Trader Stock Dashboard" %>

<h1>Trader Stocks</h1>

<div id="trader_stocks">
  <% @trader_stocks.each do |trader_stock| %>
    <div id="<%= dom_id(trader_stock) %>">
      <p><strong>Stock Name:</strong> <%= trader_stock.stock.name %></p>
      <p><strong>Stock Ticker:</strong> <%= trader_stock.stock.ticker %></p>
      <p><strong>Stock Price:</strong> <%= trader_stock.stock.price %></p>
      <%= button_to 'Buy this stock', buy_trader_stocks_path(stock_id: trader_stock.stock.id), method: :post %>
    </div>
  <% end %>
</div>

<br>
<%= link_to "Buy Stocks", stocks_path %>
<%= button_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo: false } %>

<p style="color: green"><%= notice %></p>
