<p style="color: green"><%= notice %></p>

<%= render @trader_stock %>

<div>
  <%= link_to "Edit this trader stock", edit_trader_stock_path(@trader_stock) %> |
  <%= link_to "Back to trader stocks", trader_stocks_path %>

  <%= button_to "Destroy this trader stock", @trader_stock, method: :delete %>
</div>
